{
 :identity "edh8x66mdltlaqn"
 :patch
{:cables
{["egivo5vtyxesxkn" 0] [:fixed "q63vitxnu2v26i2" 0]
 ["egivo5vtyxesxkn" 1] [:fixed "fknu6li2gz0ob1a" 0]
 ["ol4s4dht5ule2up" 0] [:fixed "mwa8amdtb88c8q9" 0]
 ["om3245tdj107jzk" 0] [:fixed "q63vitxnu2v26i2" 2]
 ["q63vitxnu2v26i2" 0] [:fixed "ol4s4dht5ule2up" 0]
 ["ute7rdw1c8p71bm" 0] [:fixed "om3245tdj107jzk" 0]
 ["ute7rdw1c8p71bm" 1] [:fixed "v9usj9bmij7fd2a" 0]
 ["v9usj9bmij7fd2a" 0] [:fixed "q63vitxnu2v26i2" 1]
 ["v9usj9bmij7fd2a" 1] [:fixed "egivo5vtyxesxkn" 0]}
 :nodes
{"egivo5vtyxesxkn" 
{:inputs ["sig" "cutoff"]
 :label "MyFilter($sig $cutoff)"
 :name "envelope"
 :outputs [""]
 :parsed [:fn "MyFilter" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [212 -106]
 }
 "fknu6li2gz0ob1a" 
{:inputs []
 :label "0.01"
 :outputs [""]
 :parsed [:float "0.01"]
 :pos [75 -160]
 }
 "mwa8amdtb88c8q9" 
{:inputs []
 :label "(0 20) `xy` (1 200)"
 :outputs [""]
 :parsed [:widget "539kws" {:mouse [0 0.544137106362413 0.6567302925385521 1]} {:type :xy-pad, :kind :touch, :size :normal, :left-bottom [:tuple [:float "0"] [:float "20"]], :right-top [:tuple [:float "1"] [:float "200"]]}]
 :pos [-311 -133]
 }
 "ol4s4dht5ule2up" 
{:inputs ["sig"]
 :label "Gen:Signal($sig)"
 :outputs [""]
 :parsed [:fn "Gen:Signal" [:tuple [:free-var "sig"]]]
 :pos [-58 11]
 }
 "om3245tdj107jzk" 
{:inputs ["freq"]
 :label "MyPhasor($freq)"
 :name "oscillator"
 :outputs [""]
 :parsed [:fn "MyPhasor" [:tuple [:free-var "freq"]]]
 :pos [235 110]
 }
 "q63vitxnu2v26i2" 
{:inputs ["pair"]
 :label "(gate cutoff pitch) = First($pair)"
 :outputs ["gate" "cutoff" "pitch"]
 :parsed [:fn "First" [:tuple [:free-var "pair"]]]
 :pos [68 -10]
 }
 "ute7rdw1c8p71bm" 
{:inputs ["sig" "cutoff"]
 :label "MyFilter($sig $cutoff)"
 :name "filter"
 :outputs [""]
 :parsed [:fn "MyFilter" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [442 40]
 }
 "v9usj9bmij7fd2a" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [347 -39]
 }}
 :scale 1
 :scroll [0 0]}}